# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
LICENSE-new.txt
forge-1.12.2-14.23.1.2555-changelog.txt
CREDITS-fml.txt
MinecraftForge-Credits.txt
README.txt
Paulscode SoundSystem CodecIBXM License.txt
Paulscode IBXM Library License.txt
